{{!-- some html elements --}}

{{!-- // if I update the title of some page it will automatically apdate on all pages where partial is used --}}
<h1>{{title}}</h1>

<div>
  <a href="/">Home</a>
  <a href="/help">Help</a>
</div>